TOMTOM_API_KEY=your_tomtom_api_key_here
DATABASE_URL=postgres://user:password@db.prisma.io:5432/postgres?sslmode=require
POSTGRES_URL=postgres://user:password@db.prisma.io:5432/postgres?sslmode=require
